[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "garapan"
postsPerPage = 9
noPostsMessage = "Duh, ternyata kamu enggak spesial ... atau memang belum ada garapan yang spesial. ❤"
sortOrder = "published_at desc"
categoryPage = "home"
postPage = "lembaran"
==
{% set posts = blogPosts.posts %}

<div class="center">
    <div class="lt-row row">
        <div class="card z-depth-2 collection with-header">
            <div class="collection-header">
                <p/>
                <h2 class="lt-title">Garapan</h2>
                <p class="flow-text">Garapan spesial buat kamu yang spesial ❤</p>
            </div>
            <div class="collection-item" style="overflow: hidden;">
                {% for post in posts %}
                <div class="lt-col col m4 s12">
                    <div class="card large z-depth-1">
                        <div class="card-image">
                            <a href="{{ post.url }}">
                            {% if post.featured_images.count %}
                            {% for image in post.featured_images|slice(1, 1) %}
                            <img class="responsive-img activator" data-src="{{ image.filename }}" src="{{ image.path }}"
                                 alt="{{ image.description != null ? image.description : image.filename }}"
                                 title="{{ image.title != null ? image.title : post.title }}">
                            {% endfor %}
                            {% else %}
                            <img class="responsive-img activator" alt="image" src="{{ 'assets/img/pages/1701/header-404.jpg'|theme }}" href="{{ post.url }}">
                            {% endif %}
                            </a>
                        </div>
                        <div class="card-content">
                             <a href="{{ post.url }}"><span class="card-title">{{ post.title }}</span></a><br/>
                            {{ post.summary }}
                        </div>
                        <div class="card-action">
                            {% for category in post.categories %}
                                {% if category.name == "Garapan Selesai" %}
                                    <span class="chip green left">Selesai</span>
                                {% elseif category.name == "Garapan Lancar" %}
                                    <span class="chip blue left">Lancar</span>
                                {% elseif category.name == "Garapan Terhambat" %}
                                    <span class="chip yellow darken-3 left">Lancar?</span>
                                {% elseif category.name == "Garapan Batal" %}
                                    <span class="chip red left">Batal</span>
                                {% elseif category.name == "Sedang Tayang" %}
                                    <span class="chip purple left">Tayang</span>
                                {% elseif str_contains(category.slug, 'join-') %}
                                    <span class="chip pink left">{{ category.name }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            
                {% else %}
                <h5><center class="align-center center">{{ noPostsMessage }}</center></h5>
                {% endfor %}
            </div>
            <div class="collection-item">
                <span class="center-align">
                    {% if posts.lastPage > 1 %}
                        {% if posts.currentPage > 1 %}
                            <a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}" class="btn-floating btn-large waves-effect waves-light left pink"><i class="material-icons">chevron_left</i></a>
                        {% endif %}
                        {% if posts.lastPage > posts.currentPage %}
                            <a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}" class="btn-floating btn-large waves-effect waves-light right pink"><i class="material-icons">chevron_right</i></a>
                        {% endif %}
                    <ul class="pagination">
                        {% for page in 1..posts.lastPage %}
                        <li class="{{ posts.currentPage == page ? 'active pink' : null }}">
                            <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}" class="waves-effect">{{ page }}</a>
                        </li>
                        {% endfor %}                        
                    </ul>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>