title = "Kanal"
url = "/taman/kanal/:slug"
layout = "octaskin"
is_hidden = 0

[forumChannel]
slug = "{{ :slug }}"
memberPage = "taman/penghuni"
topicPage = "taman/wahana"
==
<section id="lt-header" class="lt-section lt-section-fullwidth section">
  <div class="lt-container container">
    <div class="lt-content lt-header-content">
      {% partial "pages-kabar/header" %}
    </div>
  </div>
</section>

<section id="lt-mainpage" class="lt-section section orange lighten-5">
  <div class="lt-container container">
    <div class="lt-content lt-mainpage-content">
        <div class="card z-depth-2" style="padding:36px">
            <h4>{{ channel.title }}</h4>
            {% component 'forumChannel' %}
        </div>
    </div>
  </div>
</section>