title = "Penghuni"
url = "/taman/penghuni"
layout = "octaskin"
is_hidden = 0

[forumMember]
slug = "{{ :slug }}"
viewMode = "view"
channelPage = "taman/kanal"
topicPage = "taman/wahana"
==
<section id="lt-header" class="lt-section lt-section-fullwidth section">
  <div class="lt-container container">
    <div class="lt-content lt-header-content">
      {% partial "pages-kabar/header" %}
    </div>
  </div>
</section>

<section id="lt-mainpage" class="lt-section section orange lighten-5">
  <div class="lt-container container">
    <div class="lt-content lt-mainpage-content">
        <div class="card z-depth-2" style="padding:36px">
            <h1>{{ member.username }}</h1>
            {% component 'forumMember' %}
        </div>
    </div>
  </div>
</section>