title = "Daftar"
url = "/daftar"
layout = "octaskin"
is_hidden = 0
==
<section id="lt-header" class="lt-section lt-section-fullwidth section">
  <div class="lt-container container">
    <div class="lt-content lt-header-content">
      {% partial "pages-daftar/header" %}
    </div>
  </div>
</section>

<section id="lt-mainpage" class="lt-section section orange accent-1">
  <div class="lt-container container">
    <div class="lt-content lt-mainpage-content">
      {% partial "pages-home/daftar" %}
    </div>
  </div>
</section>