title = "Home"
url = "/"
layout = "octaskin"
is_hidden = 0
==
<section id="bittersweet" class="lt-section lt-section-fullwidth section scrollspy">
  <div class="lt-container container">
    <div class="lt-content lt-slideshow-content">
      {% partial "pages-home/slideshow" %}
    </div>
  </div>
</section>

<section id="rilisan" class="lt-section section orange accent-1 scrollspy">
  <div class="lt-container container">
    <div class="lt-content lt-feature-content">
      {% partial "pages-home/rilisan" %}
    </div>
  </div>
</section>