title = "Lembaran"
url = "/lembaran/:slug"
layout = "octaskin"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "daftar"
==
{% if post %}

{% put seo %}

<meta name="description" content="{{ post.summary }}">
<meta name="keywords" content="{{ this.theme.keywords }}">
<meta name="author" content="{{ this.theme.website_author }}">

<meta property="og:title" content="{{ post.title }} - {{ this.theme.website_name }}"/>
<meta property="og:url" content="{{ this.page.id | page }}"/>
<meta property="og:type" content="article"/>
<meta property="og:description" content="{{ post.summary }}"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="{{ post.title }} - {{ this.theme.website_name }}"/>
<meta name="twitter:url" content="{{ this.page.id | page }}"/>

<!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval' https://caramelfansub.disqus.com https://ajax.googleapis.com https://cdnjs.cloudflare.com http://st.chatango.com https://cdn.plyr.io;"/> -->

{% if post.featured_images.count %}
{% for image in post.featured_images|slice(1, 2) %}
<meta property="og:image" content="{{ image.path|app }}"/>
<meta name="twitter:image" content="{{ image.path|app }}"/>
{% endfor %}
{% else %}
{% endif %}

<title>{{ this.theme.website_name }}</title>
<link rel="canonical" href="{{ this.theme.website_url }}"/>

{% endput %}

<section id="lt-header" class="lt-section lt-section-fullwidth section">
    <div class="lt-container container">
        <div class="lt-content lt-header-content">
            <div class="lt-row row">
                <div class="lt-col col s12">
                    <div class="lt-parallax-header parallax-container" style="height: 400px;">
                        <div class="lt-parallax parallax">
                            {% if post.featured_images.count > 1 %}
                                {% for image in post.featured_images|slice(1, 1) %}
                                    <img data-src="{{ image.filename }}" class="responsive-img" src="{{ image.path }}"
                                         alt="{{ image.description != null ? image.description : image.filename }}"
                                         title="{{ image.title != null ? image.title : post.title }}"></div>
                                {% endfor %}
                            {% else %}
                                <img alt="image" class="responsive-img" src="{{ 'assets/img/pages/1701/header-404.jpg'|theme }}">
                            {% endif %}
                        <div class="lt-parallax-content">
                            <div class="valign-wrapper" style="height: 400px;">
                                <div class="valign">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="lt-mainpage" class="lt-section section orange accent-1">
    <div class="lt-container container">
        <div class="lt-content lt-mainpage-content">
            <div class="lt-row row">
                <div class="collection card z-depth-2">
                    <div class="card-image">
                        {% if post.featured_images.count > 2 %}
                            {% for image in post.featured_images|slice(2, 2) %}
                                <img data-src="{{ image.filename }}" class="responsive-img" src="{{ image.path }}"
                                     alt="{{ image.description != null ? image.description : image.filename }}"
                                     title="{{ image.title != null ? image.title : post.title }}">
                            {% endfor %}
                        {% elseif post.featured_images.count > 1 %}
                            {% for image in post.featured_images|slice(1, 1) %}
                                <img data-src="{{ image.filename }}" class="responsive-img" src="{{ image.path }}"
                                     alt="{{ image.description != null ? image.description : image.filename }}"
                                     title="{{ image.title != null ? image.title : post.title }}">
                            {% endfor %}
                        {% else %}
                            <img alt="image" class="responsive-img" src="{{ 'assets/img/pages/1701/header-404.jpg'|theme }}">
                        {% endif %}
                    </div>
                    <div class="card-panel">
                        <span class="right small">{{ post.published_at|date('d M Y') }}</span>
                        
                        {% for category in post.categories %}
                            {% if category.name == "Garapan Selesai" %}
                                <span class="chip green">Selesai</span>
                            {% elseif category.name == "Garapan Lancar" %}
                                <span class="chip blue">Lancar</span>
                            {% elseif category.name == "Garapan Terhambat" %}
                                <span class="chip yellow darken-3">Lancar?</span>
                            {% elseif category.name == "Garapan Batal" %}
                                <span class="chip red">Batal</span>
                            {% elseif category.name == "Sedang Tayang" %}
                                <span class="chip purple">Tayang</span>
                            {% elseif str_contains(category.slug, 'join-') %}
                                <span class="chip pink">{{ category.name }}</span>
                            {% endif %}
                        {% endfor %}
                        
                        <br>
                        
                        <span class="card-title"><h5>{{ post.title }}</h5></span>                        
                        <p>{{ post.summary }}</p>
        
                        <div class="lt-row row">
                            <div class="lt-col col s12">
                                {{ post.content_html|raw }}
                            </div>
                        </div>
                    </div>
                    <div id="disqus_thread" class="collection-item"></div>
                </div>
            </div>
        </div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = "{{ post.url }}";  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "{{ post.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://caramelfansub.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                
    </div>
</section>

{% else %}
{% partial "not_found" %}
{% endif %}