title = "Pengunjung"
url = "/pengunjung/:code?"
layout = "octaskin"
is_hidden = 0

[account]
redirect = "home"
paramCode = "code"
forceSecure = 0
==
<section id="lt-header" class="lt-section lt-section-fullwidth section">
  <div class="lt-container container">
    <div class="lt-content lt-header-content">
      {% partial "pages-tentang/header" %}
    </div>
  </div>
</section>

<section id="lt-mainpage" class="lt-section section orange lighten-5">
  <div class="lt-container container">
    <div class="lt-content lt-mainpage-content">
      <div class="card z-depth-2" style="padding:36px">
        {% component 'account' %}
      </div>
    </div>
  </div>
</section>