<div class="lt-row row">
  <div class="lt-col col s12">
    <div><small><i class="fa fa-heart" aria-hidden="true"></i></small> Lembaran Caramel 2.0 beta <small><i class="fa fa-heart" aria-hidden="true"></i></small></div>
    <div>
      Dibuat dengan <a href="#" target="_blank" class="footer-link"><i class="fa fa-heart" alt="love"></i></a> oleh <a class="footer-link">littleflower</a>.
    </div>
    <div>
      Berjalan di atas platform <a href="https://octobercms.com/" target="_blank" class="footer-link">October CMS</a> (berbasis pada <a href="https://laravel.com/" target="_blank" class="footer-link">Laravel</a>) &amp; <a href="http://materializecss.com/" target="_blank" class="footer-link">Materialize CSS</a>.
    </div>
  </div>  
</div>