<!-- <div class="lt-col col s12">
  <div class="lt-social-buttons fixed-action-btn horizontal">
    <a class="btn-floating btn-large">
      <i class="fa fa-commenting-o" aria-hidden="true"></i>
    </a>
    <ul>
      <li>
        <a class="btn-floating blue darken-4" href="https://www.facebook.com/Attakaifs/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a class="btn-floating blue darken-3" href="http://nr-chan.chatango.com/" target="_blank"><i class="fa fa-comment"></i></a>
      </li>
      <li>
        <a class="btn-floating indigo lighten-2" href="https://discord.gg/TbnfQh8" target="_blank"><i class="fa fa-gamepad"></i></a>
      </li>
      <li>
        <a class="btn-floating blue" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a class="btn-floating orange darken-4" href="#" target="_blank"><i class="fa fa-leaf fa-rotate-270"></i></a>
      </li>
      <li>
        <a class="btn-floating black" href="https://gitlab.com/littleflower" target="_blank"><i class="fa fa-github"></i></a>
      </li>
    </ul>
  </div>
</div> -->