<div class="lt-row row">
  <div class="lt-col col s12">
    <div class="lt-parallax-header parallax-container" style="height: 400px;">
      <div class="lt-parallax parallax"><img class="responsive-img" src="{{ 'assets/img/pages/1701/header-tentang.jpg'|theme }}" alt="image"></div>
      <div class="lt-parallax-content">
        <div class="valign-wrapper" style="height: 400px;">
          <div class="valign">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
