==
{% if this.theme.load_animate_css %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css" rel="stylesheet">
{% endif %}

{% if this.theme.load_owl_carousel %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.6/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.6/assets/owl.theme.default.min.css" rel="stylesheet">
{% endif %}
  <link rel="stylesheet" href="https://cdn.plyr.io/2.0.12/plyr.css">