==
{% if this.theme.load_wow_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/graingert-wow/1.2.0/wow.min.js"></script>
{% endif %}
{% if this.theme.load_owl_carousel %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.6/owl.carousel.min.js"></script>
{% endif %}
  <script>
      $(document).ready(function(){
          $('.scrollspy').scrollSpy({scrollOffset: 0});
          Materialize.toast('<span>Selamat datang di Lembaran Caramel 2.0 beta.<br>Kalau kamu menemukan bug, segera lapor ke fanspage/discord. <small><i class="fa fa-heart" aria-hidden="true"></i></small></span>', 5000);
      });
  </script>
  <script id="cid0020000153001919773" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 300px;height: 400px;">{"handle":"nr-chan","arch":"js","styles":{"a":"ff9900","b":100,"c":"000000","d":"000000","k":"ff9900","l":"ff9900","m":"ff9900","p":"10","q":"ff9900","r":100,"pos":"br","cv":1,"cvbg":"ff9900","cvw":300,"cvh":30,"ticker":1,"fwtickm":1}}</script>
  <script src="https://cdn.plyr.io/2.0.12/plyr.js"></script>
  <script>plyr.setup();</script>