[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "garapan-selesai"
postsPerPage = 4
noPostsMessage = "Duh, ternyata kamu enggak spesial ... atau memang belum ada garapan yang spesial. ❤"
sortOrder = "published_at desc"
categoryPage = "home"
postPage = "lembaran"
==
<div class="center">
    <div class="lt-row row">
        <div class="lt-col col s12">
            <h2 class="lt-title">Garapan</h2>
            <p class="flow-text">Garapan spesial buat kamu yang spesial ❤</p>
            <p>Garapan lainnya bisa kalian lihat di <a href="{{ 'garapan'|page }}">sini</a>.</p>
        </div>
    </div>
</div>

<div class="lt-vertical-spacer"></div>

{% set posts = blogPosts.posts %}

<div class="lt-row row">

    {% for post in posts %}

    <div class="lt-col col m6 s12">

        <div class="card large z-depth-2">
            <div class="card-image">
                <a href="{{ post.url }}">
                    {% if post.featured_images.count %}
                    {% for image in post.featured_images|slice(1, 1) %}
                    <img class="responsive-img activator" data-src="{{ image.filename }}" src="{{ image.path }}"
                         alt="{{ image.description != null ? image.description : image.filename }}"
                         title="{{ image.title != null ? image.title : post.title }}">
                    {% endfor %}
                    {% else %}
                    <img class="responsive-img activator" alt="image"
                         src="{{ 'assets/img/pages/1701/header-404.jpg'|theme }}" href="{{ post.url }}">
                    {% endif %}
                </a>
                <a href="{{ post.url }}" class="btn-floating btn-large halfway-fab waves-effect waves-light right pink"
                   style="margin-top: -32px; margin-right: 32px">
                    <i class="material-icons">launch</i></a>
            </div>
            <div class="card-content">
                {% for category in post.categories %}
                    {% if category.name == "Garapan Selesai" %}
                        <span class="chip green" style="color: white; font-family: Open Sans;">Selesai</span>
                    {% elseif category.name == "Garapan Lancar" %}
                        <span class="chip blue" style="color: white; font-family: Open Sans;">Lancar</span>
                    {% elseif category.name == "Garapan Terhambat" %}
                        <span class="chip yellow darken-3" style="color: white; font-family: Open Sans;">Lancar?</span>
                    {% elseif category.name == "Garapan Batal" %}
                        <span class="chip red" style="color: white; font-family: Open Sans;">Batal</span>
                    {% elseif category.name == "Sedang Tayang" %}
                        <span class="chip purple" style="color: white; font-family: Open Sans;">Tayang</span>
                    {% elseif str_contains(category.slug, 'join-') %}
                        <span class="chip pink" style="color: white; font-family: Open Sans;">{{ category.name }}</span>
                    {% endif %}
                {% endfor %}
                <br>
                <span class="card-title">{{ post.title }}</span>
                <p>{{ post.summary }}</p>
            </div>
        </div>

    </div>

    {% else %}
    <div class="lt-vertical-spacer"></div>
    <div class="lt-vertical-spacer"></div>
    <h5><center class="align-center center">{{ noPostsMessage }}</center></h5>
    <div class="lt-vertical-spacer"></div>
    <div class="lt-vertical-spacer"></div>
    <div class="lt-vertical-spacer"></div>
    <div class="lt-vertical-spacer"></div>
    {% endfor %}

</div>