[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "kabar"
postsPerPage = 10
noPostsMessage = "Eh, enggak deh. Belum ada kabar apapun."
sortOrder = "published_at desc"
categoryPage = "daftar"
postPage = "lembaran"
==
{% set posts = blogPosts.posts %}

<div class="center">
    <div class="lt-row row">
        <div class="lt-col col s12">
            <div class="card collection with-header z-depth-2">
                <div class="collection-header">
                    <p/>
                    <h2 class="lt-title">Rilisan</h2>
                    <p class="flow-text">Hayoo, kamu sedang menunggu rilisan dari sini, ya? ~</p>
                </div>
                <!-- do for here -->
                {% for post in posts %}
                <div class="collection-item" id="card-kabar">
                    <div class="row rilisan-row">
                        <div class="lt-col col m2 s12">
                            <a href="{{ post.url }}">
                                {% if post.featured_images.count %}
                                {% for image in post.featured_images|slice(0, 1) %}
                                <img class="responsive-img circle" data-src="{{ image.filename }}" src="{{ image.path }}"
                                     alt="{{ image.description != null ? image.description : image.filename }}"
                                     title="{{ image.title != null ? image.title : post.title }}">
                                {% endfor %}
                                {% else %}
                                <img class="responsive-img circle-img" alt="image"
                                     src="{{ 'assets/img/pages/portfolio/mainpage/img-01.jpg'|theme }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="lt-col col m10 s12">
                            <span class="right small">{{ post.published_at|date('M d, Y') }}</span><br>
                            <span class="card-title left rilisan-list"><a href="{{ post.url }}">{{ post.title }}</span></a><br/>
                            <p class="left rilisan-list">{{ post.summary }}</p>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="collection-item" id="card-kabar">
                    <h5><center class="align-center center">{{ noPostsMessage }}</center></h5>
                </div>
                {% endfor %}
                <div class="collection-item" style="overflow: hidden;">
                    {% if posts.lastPage > 1 %}
                        <a href="/rilisan/2" class="btn-floating btn-large waves-effect waves-light right pink"><i class="material-icons">chevron_right</i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>