[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "garapan-spesial"
postsPerPage = 10
noPostsMessage = "Bitter ❤ Sweet"
sortOrder = "published_at desc"
categoryPage = "home"
postPage = "lembaran"
==
{% set posts = blogPosts.posts %}

<div class="lt-row row">
  <div class="lt-col col s12">
    <div class="lt-slider slider fullscreen">
      <ul class="slides">
        {% for post in posts %}
        <li>
          {% if post.featured_images.count %}
          {% for image in post.featured_images|slice(1, 2) %}
          <img data-src="{{ image.filename }}" src="{{ image.path }}"
               alt="{{ image.description != null ? image.description : image.filename }}"
               title="{{ image.title != null ? image.title : post.title }}">
          {% endfor %}
          {% else %}
            <img alt="image" src="{{ 'assets/img/pages/1701/header-404.jpg'|theme }}">
          {% endif %}
          <div class="caption center-align">
            <h2 class="lt-slider-title">{{ post.title }}</h2>
            <h4 class="lt-slider-subtitle" style="line-height: 2rem;">{{ post.summary }}</h4>
            <!-- <div class="lt-slider-button">
              <a href="https://octobercms.com/theme/laratify-octobercms-octaskin" target="_blank" class="waves-effect waves-light btn-large primary-color-background">Download<i class="material-icons right">input</i></a>
            </div> -->
            <div class="lt-slider-links">
              <a href="{{ post.url }}">Selengkapnya</a>
            </div>
          </div>
        </li>
        {% else %}
        <li>
          <img src="{{ 'assets/img/pages/1701/header-404.jpg'|theme }}" alt="image">
          <div class="caption center-align">
            <h2 class="lt-slider-title">{{ noPostsMessage }}</h2>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>