==
<div class="lt-navbar navbar-fixed">
  <nav class="lt-no-background">
    <div class="nav-wrapper">
      <div class="lt-container container">
        <a href="{{ 'home'|page }}" class="brand-logo white-text">Caramel</a>
        <a href="#" data-activates="mobile-menu" class="lt-mobile-toggle button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/rilisan/default">Rilisan</a></li>
          <li><a href="/garapan/default">Garapan</a></li>
          <li><a href="/tentang">Tentang</a></li>
          <li><a href="/daftar">Daftar</a></li>
        </ul>
        <ul class="side-nav" id="mobile-menu">
          <li><a href="/rilisan/default">Rilisan</a></li>
          <li><a href="/garapan/default">Garapan</a></li>
          <li><a href="/tentang">Tentang</a></li>
          <li><a href="/daftar">Daftar</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>