description = "Octaskin Layout"
==
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% placeholder seo default %}

    <meta name="description" content="{{ this.page.meta_description|default(this.theme.description) }}">
    <meta name="keywords" content="{{ this.theme.keywords }}">
    <meta name="author" content="{{ this.theme.website_author }}">

    <meta property="og:title" content="{{ this.theme.website_name }}" />
    <meta property="og:url" content="{{ this.theme.website_url }}" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ this.page.meta_description|default(this.theme.description) }}" />
    <!-- <meta property="og:image" content="http://momo.bittersweet.id/storage/app/uploads/public/58b/696/510/58b696510c79a743246245.jpg" /> -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ this.theme.website_name }}" />
    <meta name="twitter:url" content="{{ this.theme.website_url }}" />
    <!-- <meta name="twitter:image" content="http://momo.bittersweet.id/storage/app/uploads/public/58b/696/510/58b696510c79a743246245.jpg" /> -->

    <title>{{ this.theme.website_name }}</title>
    <link rel="canonical" href="{{ this.theme.website_url }}" />

    {% endplaceholder %}

    <link rel="icon" type="image/png" href="{{ 'assets/img/icon.png'|theme }}" />

    {% if this.theme.load_google_fonts %}
      <link href="https://fonts.googleapis.com/css?family={{ this.theme.google_font_family }}" rel="stylesheet">
    {% endif %}

    {% if this.theme.load_fontawesome %}
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    {% endif %}

    {% if this.theme.load_material_icons %}
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endif %}

    {% if this.theme.load_stroke7_icons %}
      <link href="{{ 'assets/css/stroke7/stroke7-icon-font.min.css'|theme }}" rel="stylesheet">
    {% endif %}

    <link href="{{ ['assets/scss/style.scss']|theme }}" rel="stylesheet">
    
    {% partial "_addons/css" %}

    {% styles %}

    {% if this.theme.custom_css %}
      <style>
      {{ this.theme.custom_css }}
      </style>
    {% endif %}
  </head>
  <body class="lt-theme-{{ this.theme.config.code }} lt-layout-{{ this.layout.id }} lt-page-{{ this.page.id }}">
    <div id="lt-page-surround">
      <section id="lt-navigation" class="lt-section section lt-no-background">
        <div class="lt-row row">
          <div class="lt-content lt-navigation-content">
          {% if this.page.id == 'home' %}
            {% partial "pages-home/navigation" %}
          {% else %}
            {% partial "pages-all/navigation" %}
          {% endif %}
          </div>
        </div>
      </section>

      {% page %}

      <!--<section id="lt-footer" class="lt-section section">-->
        <!--<div class="lt-container container">-->
          <!--<div class="lt-content lt-footer-content">-->
            <!--{% partial "pages-all/footer" %}-->
          <!--</div>-->
        <!--</div>-->
      <!--</section>-->

      <section id="lt-copyright" class="lt-section section">
        <div class="lt-container container">
          <div class="lt-content lt-copyright-content">
            {% partial "pages-all/copyright" %}
          </div>
        </div>
      </section>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/{{ this.theme.jQuery_version }}/jquery.min.js"></script>
    <script src="{{ ['assets/js/materialize.min.js','assets/js/theme.js']|theme }}"></script>


    {% framework %}
    {% if this.theme.load_octobercms_framework %}
      {% framework extras %}
    {% endif %}

    {% partial "_addons/js" %}

    {% scripts %}

    {% if this.theme.custom_js %}
      <script>
      {{ this.theme.custom_js }}
      </script>
    {% endif %}
  </body>
</html>