==
<section id="lt-header" class="lt-section lt-section-fullwidth section">
    <div class="lt-container container">
        <div class="lt-content lt-header-content">
            <div class="lt-row row">
                <div class="lt-col col s12">
                    <div class="lt-parallax-header parallax-container" style="height: 400px;">
                        <div class="lt-parallax parallax"><img class="responsive-img" src="{{ 'assets/img/pages/1701/header-404.jpg'|theme }}" alt="image"></div>
                        <div class="lt-parallax-content">
                            <div class="valign-wrapper" style="height: 400px;">
                                <div class="valign">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="lt-mainpage" class="lt-section section">
    <div class="lt-container container">
        <div class="lt-content lt-mainpage-content">
            <div class="center">
                <div class="lt-row row">
                    <div class="lt-col col s12">
                        <h2 class="lt-title">Bagaimana nih? Sepertinya aku tersesat.</h2>
                        <p class="flow-text">Sederhana saja, kamu bisa kembali ke <a href="/">halaman utama</a> atau
                            <a href="https://www.facebook.com/bittersweetfansub/">laporkan</a> kalau memang seharusnya ada <i>sesuatu yang istimewa</i> di sini.</p>
                        <p>Kalau kamu masih tersesat di labirin ini, berarti laman web memang sedang dalam perbaikan. ^^</p>
                    </div>
                </div>

                <div class="lt-vertical-spacer"></div>

            </div>
        </div>
    </div>
</section>